body{
    font-family: 'Sofia Sans', sans-serif;
}

section{
    background-color: white;
}

.intro{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;
}

nav{
    display: flex;
    justify-content: right;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}



li{
    /*width: 200px;*/
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 50px;
    margin: 0;
    top: 50%;
    left: 50%;
}

p{
    margin: 5px;
    font-size: 30px;
    font-weight: 100;
}

.sub-text{
    font-size: 15px;
    font-weight: 300;
}


.intro-area{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.intro-text{
    margin-left: 40px;
    margin-bottom: 200px;
}

.button{
    width: 150px;
    height: 55px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    color: black;
    cursor: pointer;
}

.button:hover{
   color: #033980;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080;
}

.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot{
    width: 400px;
    border-radius: 200px;
}

.headshot-container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .headshot-container{
        display: flex;
        flex-wrap: wrap;
    }
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        display: block;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }   
}


.fa-envelope:hover,.fa-linkedin:hover,.fa-github:hover{
    color: #033980;
}
.fa-file-pdf:hover{
    color: darkred;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

button{
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border: 30px;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background-color: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #033980;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
    color: white;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #033980;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #033980;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

@keyframes fillBars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/*Form Style*/
.wrapper{
    display: flex;
    position: bottom;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 50%;
    left: 50%;
    max-width: 350px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    justify-content: center;
  }

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input,
.wrapper textarea{
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  border: none;
  margin: 10px 0px;
  font-size: 16px;
}

.wrapper textarea{
    resize: none;
    height: 80px;
}

.wrapper .btn input[type="button"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #033980;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
  
#error_message{
    margin-bottom: 20px;
    background: #d61c22;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}